

<div>
  <img src="../../assets/borito.jpg" class="img-fluid">
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-image"
style="
  background-image: url('../../assets/14710.jpg');">
    <div class="col-md-5 p-lg-5 p-sm-5 mx-auto my-5">
      <h1 class="display-4 px-lg-5 pt-lg-5" >Üdvözöllek az oldalon!</h1>
     
    </div>

  </div>


<div class="pb-5"></div>

<div class="section_our_solution ">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="our_solution_category">
        <div class="solution_cards_box">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="assets/icons/cat-icon.png" alt="cat-icon">
            </div>
            <div class="solu_title">
              <h3>Hol vannak a cicák?</h3>
            </div>
            <div class="solu_description">
              <p>
               Rengeteg egérfüggő négylábú vágyik rá, hogy veled lakjon!
              </p>
              <button type="button" class="read_more_btn"><a class="nav-link link-dark" routerLink="/cats">Megnézem a cicákat</a></button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="assets/icons/shelter-icon.png" alt="shelter-icon">
            </div>
            <div class="solu_title">
              <h3>Hogy működnek a menhelyek?</h3>
            </div>
            <div class="solu_description">
              <p>
                Fontos, hogy ismerjük a menhelyek működését, elvárásait.
              </p>
              <button type="button" class="read_more_btn" routerLink="/toknow" >Okosodni szeretnék!</button>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="solution_cards_box sol_card_top_3">
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="assets/icons/dog-icon.png" alt="dog-icon">
            </div>
            <div class="solu_title">
              <h3>Hol vannak a kutyák?</h3>
            </div>
            <div class="solu_description">
              <p>
                Az ember legjobb barátai szeretnének a Te legjobb barátaid lenni!
              </p>
              <button type="button" class="read_more_btn" routerLink="/dogs">Megnézem a kutyusokat!!</button>
            </div>
          </div>
          <div class="solution_card">
            <div class="hover_color_bubble"></div>
            <div class="so_top_icon">
              <img src="assets/icons/know-icon.png" alt="know-icon">
            </div>
            <div class="solu_title">
              <h3>Tudnivalók örökbefogadás előtt</h3>
            </div>
            <div class="solu_description">
              <p>
                Tippek és tanácsok, hogy a leendő gazdik a legfelkészültebbek legyenek.
              </p>
              <button type="button" routerLink="/toknow" class="read_more_btn">Tovább</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
