<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-image" style="
    background-image: url('../../assets/14710.jpg');">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 px-lg-5 pt-lg-5">Hasznos információk</h1>

  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div>

  <div class="jumbotron jumbotron-fluid text-center bg-light p-5">
    <div class="container">
      <h1 class="display-4">Kérdések és válaszok</h1>
      <p class="lead">Vajon Önnek való az örökbefogadás, ha kölyökkutyát vagy -cicát szeretne?</p>
      <p class="lead">Sok kérdés felmerülhet az örökbefogadás kapcsán. Lássuk a válaszokat!</p>
    </div>
  </div>

  <div class="card text center w-80 mt-2">
    <div class="card-header">
      Miért lenne jó, ha örökbe fogadnék egy kiskutyát vagy cicát?
    </div>
    <div class="card-body">
      <p class="card-text">A menhelyről történő örökbefogadás több szempontból is nagyszerű választásnak bizonyulhat
        ahelyett, hogy tenyésztőtől vásárolnánk:

        <ol>
          <li>Örökre otthont adhatunk egy kisállatnak.</li>
          <li>Életeket is mentünk azáltal, hogy helyet szabadítunk fel a menhelyen, így még több állatot fogadhatnak be.
          </li>
          <li>A menhelyek általában különös gondot fordítanak arra, hogy egy állatnak megfelelő gazdát találjanak.</li>
          <li>Az örökbefogadás kezdeti költsége jellemzően kisebb, mintha a háziállatot tenyésztőtől vásárolnánk, a
            pénzt pedig a menhely támogatására és más macskák és kutyák megsegítésére fordítják.</li>
        </ol>


    </div>
  </div>


  <div class="card text center w-80 mt-2">
    <div class="card-header">
      Aggódnom kellene egy menhelyen tartott állat egészsége miatt?
    </div>
    <div class="card-body">
      <p class="card-text">Az örökbeadható háziállatok etetése és elhelyezése mellett a menhelyek általában teljes körű
        egészségügyi állapotfelmérést végeznek a kiscicákon és kiskutyákon, kezelik őket bolha, kullancs és férgek
        ellen, és beadják nekik az első védőoltásukat.
        A menhelyeken a legtöbb állatot ivartalanítják, ha elég idősek hozzá, vagy a kölyköket ezzel a kikötéssel adják
        örökbe. A menhelyek az állat jelenlegi vagy – amennyiben ismert – múltbeli egészségügyi problémáira is
        figyelmeztetnek, és sokan azt sem engedik, hogy valaki rossz egészségi állapotú kiskutyát vagy kiscicát vigyen
        haza.
    </div>
  </div>

  <div class="card text center w-80 mt-2">
    <div class="card-header">
      Mikor vihetem haza a kiscicát vagy kiskutyát a menhelyről?
    </div>
    <div class="card-body">
      <p class="card-text">A kismacskákat és a kiskutyákat általában 12 hetes korukban lehet hazavinni. Az örökbeadható
        állatok pontos életkora menhelyenként változik, de elmondhatjuk, hogy ez átlagosan körülbelül 12 hét. Ideális
        esetben a kiscica vagy a kiskutya az anyjával együtt van a menhelyen, amíg el nem éri a megadott kort.

        Ne feledje: lehet, hogy a kölykökkel együtt az anyaállat örökbefogadására is lehetőség van. Egy felnőtt macska
        vagy kutya valószínűleg érettebb, mint egy kölyök, és nagyszerűen beilleszkedhet a családba.
    </div>
  </div>

  <div class="card text center w-80 mt-2">
    <div class="card-header">
      Ha kicsi gyerekeim vannak, akkor is örökbe fogadhatok egy kiskutyát vagy kiscicát?
    </div>
    <div class="card-body">
      <p class="card-text">A kölyökkutyáknak és cicáknak még kialakulóban lévő puha csontjaik vannak, ami sebezhetővé
        teszi őket az erősebb szorításokkal és a mindent megfogni akaró kezekkel szemben. Ezért néhány menhely nem
        szívesen ad örökbe kölyökállatot olyan családoknak, ahol kisgyermekek is vannak.

        Más menhelyek viszont örömmel segítenek abban, hogy a kölykök kisgyermekes családokba kerülhessenek, azzal a
        kikötéssel, hogy először minden családtag találkozik a kiválasztott kisállattal.

        Általános szabály, hogy babákat és kisgyermekeket nem szabad kutya vagy macska társaságában felügyelet nélkül
        hagyni. Ha emiatt aggódik, akkor érdemes gyermeke legalább 5 éves koráig várnia az örökbefogadással, hogy
        megbeszélhessék, hogyan kell megfelelően bánni egy háziállattal.
    </div>
  </div>
