<div class="bg-light p-5">
  <h2 class="bg-info p-4">Új kisállat</h2>
  <form [formGroup]="newPetForm" (ngSubmit)="newPet()">
    <div class="mb-3">
      <label for="name" class="form-label">Név</label>
      <input type="text" class="form-control" formControlName="name" required>

    </div>

    <label for="bname" class="form-label">Fajták</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeBName($event)" formControlName="bname">
        <option value="">Válassz fajtát: </option>
        <option *ngFor="let bname of Bname" [ngValue]="bname">
          {{bname }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Kor</label>
      <input type="text" class="form-control" formControlName="age">
    </div>

    <label for="gender" class="form-label">Neme</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeGender($event)" formControlName="gender">
        <option value="">Válassz nemet: </option>
        <option *ngFor="let gender of Gender" [ngValue]="gender">
          {{gender }}
        </option>
      </select>
    </div>

    <label for="shelters_id" class="form-label">Menhely</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeShelter($event)" formControlName="shelters_id">
        <option value="">Válassz menhelyet: </option>
        <option *ngFor="let shelter of shelters" [ngValue]="shelter.id">

          {{shelter.shelter_name }}
        </option>
      </select>
    </div>


    <label for="neutered" class="form-label">Ivartalanított-e</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeNeutered($event)" formControlName="neutered">
        <option value="">Ivartalanított?</option>
        <option *ngFor="let neutered of Neutered" [ngValue]="neutered">
          {{neutered }}
        </option>
      </select>
    </div>


    <button type="submit" class="btn btn-primary">Hozzáad</button>
  </form>

  <h2 class="p-4 bg-info mt-3">Állatok az adatbázisban: </h2>

  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Állat neve</th>
        <th scope="col">Állat faja</th>
        <th scope="col">Állat kora</th>
        <th scope="col">Állat neme</th>
        <th scope="col">Örökbefogadott-e</th>
        <th scope="col">Ivartalanított</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pet of pets">

        <td>{{pet.name}}</td>
        <td>{{pet.bname}}</td>
        <td>{{pet.age}} éves</td>
        <td *ngIf="pet.gender == true">hím</td>
        <td *ngIf="pet.gender == false"> nőstény</td>
        <td *ngIf="pet.adopted==false">Örökbefogadható</td>
        <td *ngIf="pet.adopted==true">Örökbefogadott</td>
        <td *ngIf="pet.neutered==true">Igen</td>
        <td *ngIf="pet.neutered==false">Nem</td>

        <td>
          <!-- <button 
          type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          (click)="onEdit(pet)"
          class="btn btn-info mr-2">Edit</button> -->

          <button 
          (click)="deletePet(pet.id)"
          class="btn btn-danger max-3">Törlés</button>
          <button 
                type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                (click)="onEdit(pet)"
                class="btn btn-info mx-2">Szerkesztés</button>
      </td>        

      </tr>

    </tbody>
  </table>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newPetForm" (ngSubmit)="newPet()">
          <div class="mb-3">
            <label for="name" class="form-label">Név</label>
            <input type="text" class="form-control" formControlName="name" required>
      
          </div>
      
          <label for="bname" class="form-label">Fajták</label>
          <div class="input-group mb-3">
            <select class="form-select" (change)="changeBName($event)" formControlName="bname">
              <option value="">Válassz fajtát: </option>
              <option *ngFor="let bname of Bname" [ngValue]="bname">
                {{bname }}
              </option>
            </select>
          </div>
      
          <div class="mb-3">
            <label for="age" class="form-label">Kor</label>
            <input type="text" class="form-control" formControlName="age">
          </div>
      
          <label for="gender" class="form-label">Neme</label>
          <div class="input-group mb-3">
            <select class="form-select" (change)="changeGender($event)" formControlName="gender">
              <option value="">Válassz nemet: </option>
              <option *ngFor="let gender of Gender" [ngValue]="gender">
                {{gender }}
              </option>
            </select>
          </div>
      
          <label for="shelters_id" class="form-label">Menhely</label>
          <div class="input-group mb-3">
            <select class="form-select" (change)="changeShelter($event)" formControlName="shelters_id">
              <option value="">Válassz menhelyet: </option>
              <option *ngFor="let shelter of shelters" [ngValue]="shelter.id">
      
                {{shelter.shelter_name }}
              </option>
            </select>
          </div>
      
      
          <label for="neutered" class="form-label">Ivartalanított-e</label>
          <div class="input-group mb-3">
            <select class="form-select" (change)="changeNeutered($event)" formControlName="neutered">
              <option value="">Ivartalanított?</option>
              <option *ngFor="let neutered of Neutered" [ngValue]="neutered">
                {{neutered }}
              </option>
            </select>
          </div>
      
    
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
        <button type="submit" class="btn btn-primary" (click)="updatePet()">Frissítés</button>
      </div>
    </div>
  </div>
</div>
